{% extends 'main.html' %}
{% load staticfiles %}

{% block body %}
    <div class="row">
        <div class="content-header-left col-md-12 col-xs-12 mb-1">
            <h2 class="content-header-title">Cadastro de Assistidos</h2>
        </div>
    </div>

    <div class="alert alert-success no-border mb-2" role="alert">
        <strong>Muito bem !</strong> Cadastro efetuado com sucesso.
    </div>
    <div class="alert alert-danger no-border mb-2" role="alert">
        <strong>Ops !</strong> Verifique se os campos estão preenchidos corretamente e tente novamente !
    </div>


    <div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form">Informações Necessárias</h4>
					<a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="expand"><i class="icon-expand2"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-body collapse in">
					<div class="card-block">
						<form class="form">
							<div class="form-body">

								<h4 class="form-section"><i class="icon-head"></i> Informação Pessoal</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput1">Nome</label>
											<input type="text" id="projectinput1" class="form-control" placeholder="Nome" name="fname">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput2">Sobrenome</label>
											<input type="text" id="projectinput2" class="form-control" placeholder="Sobrenome" name="lname">
										</div>
									</div>
								</div>

                                <div class="row">

                                    <div class="col-md-6">
										<div class="form-group">
											<label for="projectinput5">Sexo</label>
											<select id="projectinput5" name="interested" class="form-control">
												<option value="none" selected="" disabled="">Selecionar</option>
												<option value="masculino">Masculino</option>
												<option value="feminino">Feminino</option>
											</select>
										</div>
									</div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="issueinput4">Data de nascimento</label>
                                            <input type="date" id="issueinput4" class="form-control" name="datefixed" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput1">RG</label>
											<input type="text" id="projectinput1" class="form-control" placeholder="RG" name="fname">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput2">CPF</label>
											<input type="text" id="projectinput2" class="form-control" placeholder="CPF" name="lname">
										</div>
									</div>
								</div>


								<h4 class="form-section"><i class="icon-clipboard4"></i> Informação Geral</h4>

                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput1">Cidade</label>
											<input type="text" id="projectinput1" class="form-control" placeholder="Cidade" name="fname">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="projectinput2">Estado</label>
											<input type="text" id="projectinput2" class="form-control" placeholder="Estado" name="lname">
										</div>
									</div>
                                    <div class="col-md-3">
										<div class="form-group">
											<label for="projectinput2">Cep</label>
											<input type="text" id="projectinput2" class="form-control" placeholder="Cep" name="lname">
										</div>
									</div>
								</div>

                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput1">Rua</label>
											<input type="text" id="projectinput1" class="form-control" placeholder="Rua" name="fname">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput2">Bairro</label>
											<input type="text" id="projectinput2" class="form-control" placeholder="Bairro" name="lname">
										</div>
									</div>
								</div>

                                <div class="row">
                                    <div class="col-md-9">
										<div class="form-group">
											<label for="projectinput2">Complemento</label>
											<input type="text" id="projectinput2" class="form-control" placeholder="Complemento" name="lname">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="projectinput1">Numero</label>
											<input type="text" id="projectinput1" class="form-control" placeholder="Numero" name="fname">
										</div>
									</div>
								</div>


                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput3">E-mail</label>
											<input type="text" id="projectinput3" class="form-control" placeholder="E-mail" name="email">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="projectinput4">Telefone</label>
											<input type="text" id="projectinput4" class="form-control" placeholder="Telefone" name="phone">
										</div>
									</div>
								</div>
							</div>

							<div class="form-actions" align="center">
								<button type="button" class="btn btn-outline-red mr-1">
									<i class="icon-cross2"></i> Cancelar
								</button>
								<button type="submit" class="btn btn-outline-success">
									<i class="icon-check2"></i> Cadastrar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}