{% extends 'main.html' %}
{% load staticfiles %}

{% block body %}
    <div class="row">
        <div class="content-header-left col-md-12 col-xs-12 mb-1">
            <h2 class="content-header-title">Cadastro de Assistidos</h2>
        </div>
    </div>

    <div class="alert alert-success no-border mb-2" role="alert">
        <strong>Muito bem !</strong> Cadastro efetuado com sucesso.
    </div>
    <div class="alert alert-danger no-border mb-2" role="alert">
        <strong>Ops !</strong> Verifique se os campos estão preenchidos corretamente e tente novamente !
    </div>


    <div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form">Informações Necessárias</h4>
					<a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="expand"><i class="icon-expand2"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-body collapse in">
					<div class="card-block">
						<form class="form">
							<div class="form-body">

								<h4 class="form-section"><i class="icon-head"></i> Informação Pessoal</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="input1">Nome</label>
											<input type="text" id="input1" class="form-control" placeholder="Nome" name="nome">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="input2">Sobrenome</label>
											<input type="text" id="input2" class="form-control" placeholder="Sobrenome" name="sobrenome">
										</div>
									</div>
								</div>

                                <div class="row">

                                    <div class="col-md-6">
										<div class="form-group">
											<label for="input3">Sexo</label>
											<select id="input3" name="sexo" class="form-control">
												<option value="none" selected="" disabled="">Selecionar</option>
												<option value="Masculino">Masculino</option>
												<option value="Feminino">Feminino</option>
											</select>
										</div>
									</div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="input4">Data de nascimento</label>
                                            <input type="date" id="input4" class="form-control" name="data_nascimento" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Data">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="input5">RG</label>
											<input type="text" id="input5" class="form-control" placeholder="RG" name="rg">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="input6">CPF</label>
											<input type="text" id="input6" class="form-control" placeholder="CPF" name="cpf">
										</div>
									</div>
								</div>


								<h4 class="form-section"><i class="icon-clipboard4"></i> Informação Geral</h4>

                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="input7">Cidade</label>
											<input type="text" id="input7" class="form-control" placeholder="Cidade" name="cidade">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="input8">Estado</label>
											<input type="text" id="input8" class="form-control" placeholder="Estado" name="estado">
										</div>
									</div>
                                    <div class="col-md-3">
										<div class="form-group">
											<label for="input9">Cep</label>
											<input type="text" id="input9" class="form-control" placeholder="Cep" name="cep">
										</div>
									</div>
								</div>

                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="input10">Rua</label>
											<input type="text" id="input10" class="form-control" placeholder="Rua" name="rua">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="input11">Bairro</label>
											<input type="text" id="input11" class="form-control" placeholder="Bairro" name="bairro">
										</div>
									</div>
								</div>

                                <div class="row">
                                    <div class="col-md-9">
										<div class="form-group">
											<label for="input12">Complemento</label>
											<input type="text" id="input12" class="form-control" placeholder="Complemento" name="complemento">
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="input13">Numero</label>
											<input type="text" id="input13" class="form-control" placeholder="Numero" name="numero">
										</div>
									</div>
								</div>


                                <div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="input14">E-mail</label>
											<input type="text" id="input14" class="form-control" placeholder="E-mail" name="email">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="input15">Telefone</label>
											<input type="text" id="input15" class="form-control" placeholder="Telefone" name="telefone">
										</div>
									</div>
								</div>
							</div>

							<div class="form-actions" align="center">
								<button type="button" class="btn btn-outline-red mr-1">
									<i class="icon-cross2"></i> Cancelar
								</button>
								<button type="submit" class="btn btn-outline-success">
									<i class="icon-check2"></i> Cadastrar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}