{% extends 'main.html' %}
{% load staticfiles %}

{% block body %}
    <div class="row">
        <div class="content-header-left col-md-12 col-xs-12 mb-1">
            <h2 class="content-header-title">Dados do Usuário</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-block" align="center">
                        <img class="img-fluid img-thumbnail" width="200" height="200" src="http://new.uouapps.com/quick-finder/img/company-sidebar-thumb.png" alt="">
                        <br><br>
                        <h5 align="center">Administrador</h5>
                        <br><br><h4 align="left">Informações</h4>
                        <hr>
                        <h6 align="left">Pastoral do Dízimo</h6>


                        <br><br><h4 align="left">Atividades</h4>
                        <hr>
                        <h6 align="left">Atividades Realizadas: 20</h6>
                        <h6 align="left">Ultima Atividade: 01/01/2018</h6>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">                
                <div class="card-body">
                    <div class="card-block">
                        <h4 class="form-section"><i class="icon-head"></i> Informações Pessoais</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-9">
                                <p><b>Nome:</b> João Pedro dos Santos Rezende</p>
                            </div>
                            <div class="col-md-3">
                                <p><b>ID: </b>1201978</p>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Data de Nascimento:</b> 30/05/1993</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>Sexo:</b> Masculino</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>E-mail: </b>jp_srezende@outlook.com</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>Telefone: </b> (22) 99987-1960</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}