{% extends 'main.html' %}
{% load staticfiles %}

{% block body %}
    <div class="content-header-left col-md-6 col-xs-12 mb-1">
        <h2 class="content-header-title">Painel de Controle</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 mt-1 mb-3">
            <h4>Gráficos</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card card-inverse bg-info">
                <div class="card-body">
                    <div class="position-relative">
                        <div class="chart-title position-absolute mt-2 ml-2 white">
                            <h1 class="display-4">84%</h1>
                            <span>Em relação ao mês anterior</span>
                        </div>
                        <canvas id="emp-satisfaction" class="height-450 block"></canvas>
                        <div class="chart-stats position-absolute position-bottom-0 position-right-0 mb-2 mr-3 white">
                            <a href="#" class="btn bg-info bg-darken-3 mr-1 white">Estatísticas <i class="icon-stats-bars"></i></a> dos últimos meses.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}