{% extends 'main.html' %}
{% load staticfiles %}

{% block body %}
    <div class="content-header-left col-md-6 col-xs-12 mb-1">
        <h2 class="content-header-title">Painel de Controle</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 mt-1 mb-3">
            <h4>Gráficos</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Quadro de Atividades</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <p>Atividades completas 240, atividades incompletas 150. <span class="float-xs-right"><a href="#">Outras Atividades <i class="icon-arrow-right2"></i></a></span></p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Num#</th>
                                    <th>Pastoral</th>
                                    <th>Status</th>
                                    <th>Data</th>
                                    <th>Quantidade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-truncate"><a href="#">INV-001001</a></td>
                                    <td class="text-truncate">Elizabeth W.</td>
                                    <td class="text-truncate"><span class="tag tag-default tag-success">Concluída</span></td>
                                    <td class="text-truncate">10/05/2016</td>
                                    <td class="text-truncate">$ 1200.00</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate"><a href="#">INV-001012</a></td>
                                    <td class="text-truncate">Andrew D.</td>
                                    <td class="text-truncate"><span class="tag tag-default tag-success">Concluída</span></td>
                                    <td class="text-truncate">20/07/2016</td>
                                    <td class="text-truncate">$ 152.00</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate"><a href="#">INV-001401</a></td>
                                    <td class="text-truncate">Megan S.</td>
                                    <td class="text-truncate"><span class="tag tag-default tag-success">Concluída</span></td>
                                    <td class="text-truncate">16/11/2016</td>
                                    <td class="text-truncate">$ 1450.00</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate"><a href="#">INV-01112</a></td>
                                    <td class="text-truncate">Doris R.</td>
                                    <td class="text-truncate"><span class="tag tag-default tag-warning">Em andamento</span></td>
                                    <td class="text-truncate">11/12/2016</td>
                                    <td class="text-truncate">$ 5685.00</td>
                                </tr>
                                <tr>
                                    <td class="text-truncate"><a href="#">INV-008101</a></td>
                                    <td class="text-truncate">Walter R.</td>
                                    <td class="text-truncate"><span class="tag tag-default tag-warning">Em andamento</span></td>
                                    <td class="text-truncate">18/05/2016</td>
                                    <td class="text-truncate">$ 685.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card card-inverse bg-info">
                <div class="card-body">
                    <div class="position-relative">
                        <div class="chart-title position-absolute mt-2 ml-2 white">
                            <h1 class="display-4">84%</h1>
                            <span>Em relação ao mês anterior</span>
                        </div>
                        <canvas id="emp-satisfaction" class="height-450 block"></canvas>
                        <div class="chart-stats position-absolute position-bottom-0 position-right-0 mb-2 mr-3 white">
                            <a href="#" class="btn bg-info bg-darken-3 mr-1 white">Estatísticas <i class="icon-stats-bars"></i></a> dos últimos meses.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}