{% extends 'main.html' %}
{% load staticfiles %}

{% block body %}
    <div class="content-header-left col-md-6 col-xs-12 mb-1">
        <h2 class="content-header-title">Nome da area</h2>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Titulo do conteudo</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <!-- Aqui entra o conteudo -->
                        sasas
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}